<h1>Rental Cars</h1>
<h2>Bem vindo ao sistema de gestão de locação</h2>
<%= link_to "Categorias", car_categories_path%>
<%= link_to "Filiais", subsidiaries_path%>
<%= link_to "Modelos de carro", car_models_path%>